# Environment
.env

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info

# Maven
**/target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
*~

# Java
*.class
*.jar
!**/lambda-placeholder.zip
*.war
*.ear
hs_err_pid*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# AWS
.aws/

